@import "reset.css";
@import "blog-tags.css";

.paragraph {
    font-size: 1.2rem;
}
.blog-link {
    text-decoration: none;
    color: inherit;
    color: #4bc6ff;
}
.colored {
    color: rgb(87, 0, 87);
}
.author {
    display: grid;
    grid-template-areas:
        "pic txt"
        "pic txt";
    grid-template-columns: min-content auto;
    grid-template-rows: min-content auto;
    margin-bottom: 3rem;
}
#p-imageBox {
    grid-area: pic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 8px;
}
#p-photo {
    border-radius: 100%;
    width: 5em;
    height: 5em;
    background-color: rgb(112, 112, 112);
    color: seashell;
    text-align: center;
    background: url(http://aser-elshawi.github.io/images/p-photo3.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 4px;
}
#p-text {
    grid-area: txt;
    display: flex;
    flex-direction: column;
    height: 60%;
    align-self: center;
    justify-content: space-evenly;
    margin: 2%;
}
#p-name {
    font-size: 1.5em;
    margin-top: 20px;
}
#p-date {
    font-size: 0.7rem;
}
pre code {
    background-color: #eee;
    border: 1px solid #999;
    display: block;
    padding: 20px;
    margin-left: 10%;
    margin-right: 10%;
}

.codeSnip {
    display: grid;
    grid-template-columns: 5px auto;
    grid-template-rows: auto;
    grid-template-areas: "brdr txt";
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2rem;
    margin-bottom: 2rem;
    overflow: auto;
}
.cmnt {
    grid-area: brdr;
    background-color: rgb(57, 169, 221);
}
.codetxt {
    font-size: 1.5;
    background-color: #eee;
    padding: 2em;
    overflow: auto;
    white-space: nowrap;
}

.mdl-image {
    display: block;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    padding-left: 10%;
    padding-right: 10%;
    height: 200px;
}

.video-container {
    position: relative;
    padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */
}
a:hover {
    color: #2ba6ff;
}
b,
strong {
    font-weight: bold;
}
em,
i {
    font-style: italic;
}
